html, body, ul, h2, h3 {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: normal;
}

ul {
	list-style: none;
}

input, select, button {
	margin: 0;
	padding: 0;
	border: 0;
	color: black;
	border-radius: 0;
	-webkit-appearance: none;
	background-color: transparent;
}
